<%- include('header') %>
      <div class="row mt-3">
        <div class="col-md-4 offset-5 text-dark ">
        <h4>Add Student</h4>
      </div>
      </div>
    <div class="row mt-3">
     
     <div class="col-md-7 offset-2">
        <% for( msg of getFlashMessages('error') ) { %>
            <div class='alert alert-danger animated shake col-md-10 offset-1' id='sams' >
              <center><i> <%= msg %></i></center>       
           </div>
          <% } %>
        <% for( msg of getFlashMessages('success') ) { %>
        <div class='alert alert-success animated bounce col-md-10 offset-1' id='sams' >
            <center><i> <%= msg %></i></center>       
        </div>
        <% } %>
        <form action="/addStudent" method="POST" enctype="multipart/form-data" id="myForm">
            <div class="form-group col-md-12 mb-3">
            <div class="input-group " id="subjectName">
              <span class="input-group-text" id="basic-addon1"><i class="fa fa-user"></i></span>
              <input type="text" class="form-control"  name="name" />
                <span class="input-group-text" id="basic-addon2">Name</span>
            </div>
            </div>
            <div class="form-group col-md-12 mb-3">
            <div class="input-group form-group col-md-12 mb-3" id="subjectDate">
              <span class="input-group-text" id="basic-addon1"><i class="fa fa-key"></i></span>
              <input type="text" class="form-control" id="" name="code" />
                <span class="input-group-text" id="basic-addon2">Roll nbr</span>
            </div>
           </div>
            <div class="form-group col-md-12 mb-3">
            <div class="input-group form-group col-md-12 mb-3" id="subjectDate">
              <span class="input-group-text" id="basic-addon1"><i class="fa fa-calendar"></i></span>
              <input type="text" class="form-control" id="date" name="academicYear" />
                <span class="input-group-text" id="basic-addon2">Academic Year</span>
            </div>
           </div>

           <div class="form-group col-md-12 mb-3">
           <div class="input-group">
             <select name="favoriteSubject" id=""class="form-control " required >
             <option value="notSelected">Select Favorite Subject...</option>
                
                 <% subjects.forEach(element => { %>
                  <option value="<%= element.id %>"><%= element.name %> </option>
                 <% }) %>
              </select>
             <span class="input-group-text" id="basic-addon2"><i class="fa fa-caret-down"></i></span>
           </div>
           </div>
           
           <div class="form-group col-md-12 mb-3">
            <div class="input-group col-md-12 mb-3">
              <button type="submit" class="btn btn-primary btn-block"  id="action_button" name="signUp">Send</button>
            </div>
          </div>
            
            </form>
          
    </div>
        
   
    </div>  
     
  </div>
   
  <%- include('footer') %>

  </body>
</html>

