<%- include('header') %>
      <div class="row mt-3">
        <div class="col-md-4 offset-4 text-dark ">
        <h4>Add Subject/Course</h4>
      </div>
      </div>
    <div class="row mt-3">
     
     <div class="col-md-6 border-end border-warning">
        <% for( msg of getFlashMessages('error') ) { %>
            <div class='alert alert-danger animated shake col-md-10 offset-1' id='sams' >
              <center><i> <%= msg %></i></center>       
           </div>
          <% } %>
        <% for( msg of getFlashMessages('success') ) { %>
        <div class='alert alert-success animated bounce col-md-10 offset-1' id='sams' >
            <center><i> <%= msg %></i></center>       
        </div>
        <% } %>
          
          <form action="/addSubject" method="POST" enctype="multipart/form-data" id="myForm">
             <div class="form-group col-md-12 mb-3">
             <div class="input-group " id="subjectName">
               <span class="input-group-text" id="basic-addon1"><i class="fa fa-user"></i></span>
               <input type="text" class="form-control"  name="name" />
                 <span class="input-group-text" id="basic-addon2">Name</span>
             </div>
             </div>
             <div class="form-group col-md-12 mb-3">
             <div class="input-group form-group col-md-12 mb-3" id="subjectDate">
               <span class="input-group-text" id="basic-addon1"><i class="fa fa-key"></i></span>
               <input type="date" class="form-control" id="date" name="date" />
                 <span class="input-group-text" id="basic-addon2">Date</span>
             </div>
            </div>
            
            <div class="form-group col-md-12 mb-3">
             <div class="input-group col-md-12 mb-3">
               <button type="submit" class="btn btn-primary btn-block"  id="action_button" name="signUp">Send</button>
             </div>
           </div>
             
             </form>
        </div>
        <div class="col-md-6">
          <% for( msg of getFlashMessages('update') ) { %>
            <div class='alert alert-success animated bounce col-md-10 offset-1' id='sams' >
                <center><i> <%= msg %></i></center>       
            </div>
            <% } %>
          <table id="" class="table table-sm "  cellspacing="0" width="100%">
            <thead class="">
              <tr>
                <th class="th-sm font-weight-bold">#</th>
                <th class="th-sm font-weight-bold">Subject Name</th> 
                <th class="th-sm font-weight-bold">Suject Dame</th>
                <th class="th-sm font-weight-bold text-center">Action</th>
             
              </tr>
            </thead>
            <tbody>
              <% if (subjects.length != 0) { %>
                <% subjects.forEach(element => { %>
                  <tr class="record">
                    <td><%= subjects.findIndex(el =>el.id == element.id)+1 %></td>
                    <td><%= element.name %></td>
                    <td><%= element.date %></td>
                    <td><a href="#" data-mdb-toggle="modal"data-mdb-target="#exampleModaledit<%= element.id%>" class=""><i class="fa fa-pencil  fa-1x text-success"></i></a> <a href="#" class="deleteSubject" id="<%= element.id%>"><i class="fa fa-trash  fa-1x text-danger"></i></a></td>
                    <div class="modal fade" id="exampleModaledit<%= element.id%>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Update/Edit</h5>
                          <button
                            type="button"
                            class="btn-close"
                            data-mdb-dismiss="modal"
                            aria-label="Close"
                          ></button>
                        </div>
                      
                        <div class="modal-body">
                        <div class="text-center">
                          <div class="row">
                          <div class="col-md-12 mb-4">
                            <div class="card">
                              
                              <div class="card-body">
                                <h4 class="card-title"> <%= element.name%> </h4>
                                 
                                <form action="/updateSubject" method="POST" enctype="multipart/form-data" id="myForm">
                                  <div class="form-group col-md-12 mb-3">
                                  <div class="input-group " id="subjectName">
                                    <input type="hidden" name="id" value="<%= element.id %>">
                                    <span class="input-group-text" id="basic-addon1"><i class="fa fa-user"></i></span>
                                    <input type="text" class="form-control" value="<%= element.name %>"  name="name" />
                                    <span class="input-group-text" id="basic-addon2">Name</span>
                                  </div>
                                  </div>
                                  <div class="form-group col-md-12 mb-3">
                                    <div class="input-group col-md-12 mb-3">
                                      <button type="submit" class="btn btn-primary btn-block"  id="action_button" name="signUp">Send</button>
                                    </div>
                                  </div>
                                </form> 

                              </div>
                            </div>
                          </div>
                          </div>
                        </div>
                        </div>

                      </div>
                    </div>
                    </div>
                  </tr>
                <% }) %>
              <% } else { %>
                <tr class="record">
                <td colspan="4" class="text-center text-danger">No data</td>
               </tr>
              <% }%>
               
              
              
         
            </tbody>

            <tfoot>
               
           </tfoot> 
        
          </table>
        </div>
   
    </div>  
     
  </div>
   
  <%- include('footer') %>

  </body>
</html>

